/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* wrapper */
#wrapper {
  position: relative;
  padding: 30px;
  width: 100%;
  height: calc(100% - 60px); /* 패딩을 고려한 높이 설정 */
  background: #111;
}

/* logon */
#logon {
  width: 1000px;
  height: 650px;
  background: #141124;
  margin: 0 auto 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  .img {
    background: url("./img/lol.jpg") center/cover no-repeat;
    width: 500px;
    height: 650px;
    position: absolute;
    right: 0;
  }
}

.inner_contents {
  color: #fff;
  font-size: 14px;
}

.title {
  width: 423px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

#calendar {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 30px;
}

select {
  width: 141px;
  height: 40px;
  font-size: 16px;
  background: #27273f;
  color: #bdbebe;
  padding-left: 40px;
  &:first-child {
    border-radius: 8px 0 0 8px;
  }
  &:last-child {
    border-radius: 0 8px 8px 0;
  }
}

.username #user {
  width: 100%;
  height: 40px;
  margin: 10px 0 30px;
  padding-left: 12px;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  background: #27273f;
  color: #fff;
  &:focus {
    outline: none;
  }
}

.userpassword #password {
  width: 100%;
  height: 40px;
  margin: 10px 0 30px;
  padding-left: 12px;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  background: #27273f;
  color: #fff;
  &:focus {
    outline: none;
  }
}

.number #phone {
  width: 100%;
  height: 40px;
  margin: 10px 0 30px;
  padding-left: 12px;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  background: #27273f;
  color: #fff;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}

.check #auth {
  margin: 10px 0;
  border: 1px solid red;
  input[type="checkbox"] {
    scale: 2;
    margin: 10px;
  }
}

.btn input[type="submit"] {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  background: #17afcd;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
