* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-font-color: #222;
  --main-dark-color: #000;
  --main-light-color: #fff;
  --main-accent-color: #bbb;
  --main-content-width: 1300px;
}
