@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variable */
body {
  font-family: "Archivo Black", sans-serif;
}

.tab-inner {
  position: relative;
  height: 100vh;
}
.tab-inner input[type=radio] {
  display: none;
}
.tab-inner input[type=radio]#tab1:checked ~ .tabs .items {
  left: 0;
}
.tab-inner input[type=radio]#tab2:checked ~ .tabs .items {
  left: -100%;
}
.tab-inner input[type=radio]#tab3:checked ~ .tabs .items {
  left: -200%;
}
.tab-inner input[type=radio]#tab4:checked ~ .tabs .items {
  left: -300%;
}
.tab-inner input[type=radio]#tab5:checked ~ .tabs .items {
  left: -400%;
}
.tab-inner input[type=radio]#tab1:checked ~ .tabs .items div:nth-child(1) h1 {
  transform: translateY(200px);
  opacity: 1;
}
.tab-inner input[type=radio]#tab2:checked ~ .tabs .items div:nth-child(2) h1 {
  transform: translateY(200px);
  opacity: 1;
}
.tab-inner input[type=radio]#tab3:checked ~ .tabs .items div:nth-child(3) h1 {
  transform: translateY(200px);
  opacity: 1;
}
.tab-inner input[type=radio]#tab4:checked ~ .tabs .items div:nth-child(4) h1 {
  transform: translateY(200px);
  opacity: 1;
}
.tab-inner input[type=radio]#tab5:checked ~ .tabs .items div:nth-child(5) h1 {
  transform: translateY(200px);
  opacity: 1;
}
.tab-inner input[type=radio]#tab1:checked ~ .btn label[for=tab1] {
  color: orange;
}
.tab-inner input[type=radio]#tab2:checked ~ .btn label[for=tab2] {
  color: orange;
}
.tab-inner input[type=radio]#tab3:checked ~ .btn label[for=tab3] {
  color: orange;
}
.tab-inner input[type=radio]#tab4:checked ~ .btn label[for=tab4] {
  color: orange;
}
.tab-inner input[type=radio]#tab5:checked ~ .btn label[for=tab5] {
  color: orange;
}
.tab-inner .tabs {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.tab-inner .tabs .items {
  display: flex;
  width: 500%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.tab-inner .tabs .items div {
  width: 20%;
  height: 100vh;
  position: relative;
}
.tab-inner .tabs .items div:nth-child(1) {
  background: url("./img/slide1.jpg") center/cover no-repeat;
}
.tab-inner .tabs .items div:nth-child(2) {
  background: url("./img/slide2.jpeg") center/cover no-repeat;
}
.tab-inner .tabs .items div:nth-child(3) {
  background: url("./img/slide3.jpeg") center/cover no-repeat;
}
.tab-inner .tabs .items div:nth-child(4) {
  background: url("./img/slide4.jpg") center/cover no-repeat;
}
.tab-inner .tabs .items div:nth-child(5) {
  background: url("./img/slide5.jpeg") center/cover no-repeat;
}
.tab-inner .tabs .items div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, gold, transparent); */
}
.tab-inner .tabs .items div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, crimson, transparent); */
}
.tab-inner .tabs .items div:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, royalblue, transparent); */
}
.tab-inner .tabs .items div:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, royalblue, transparent); */
}
.tab-inner .tabs .items div:nth-child(5)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, royalblue, transparent); */
}
.tab-inner .tabs .items div h1 {
  position: relative;
  font-size: 90px;
  color: gray;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.271);
  /* text-align: center; */
  top: 0px;
  left: 80px;
  opacity: 0;
  transform: translateY(-200px);
  transition: 0.3s;
  transition-delay: 0.3s;
}
.tab-inner .btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}
.tab-inner .btn label {
  color: #fff;
  margin: 0 15px;
  cursor: pointer;
}