@import url("./reset.css");
body {
  overflow-x: hidden;
}

.inner {
  margin: 0 auto;
  width: 1440px;
}

.container {
  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
  width: 100%;
  height: 70px;
  background: #0242d9;
}
header nav .logo {
  margin-left: 50px;
  padding-top: 5px;
}
header nav .gnb {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  color: #fff;
}

/* Intro */
.intro {
  width: 100%;
}
.intro .video {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 0;
}
.intro .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About */
.about_content {
  display: flex;
  padding: 150px 0;
}
.about_content div {
  padding: 30px;
}
.about_content div.desc {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex: 3;
  flex-direction: column;
  text-align: center;
}
.about_content div.desc h2 {
  font-size: 35px;
}
.about_content div.desc p {
  margin: 30px 0 40px;
  font-size: 16px;
  line-height: 1.5rem;
}
.about_content div.desc a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0242d9;
}
.about_content div.desc a:hover {
  text-decoration: underline;
}
.about_content div.photo {
  flex: 2;
}
.about_content div.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
}

/* youtube */
.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8;
  padding-top: 20px;
}
.poster h3 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-right: 50px;
  margin-bottom: 15px;
  width: 200px;
  font-size: 30px;
  font-size: 40px;
  font-weight: 900;
  color: #0242d9;
  text-align: center;
}
.poster .posters {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster .posteritem {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.poster .posteritem img {
  border-bottom: none;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* profile */
.profile {
  padding: 100px 0;
}
.profile .profile_content {
  padding-left: 30px;
  text-align: center;
}
.profile .profile_content h1 {
  font-size: 30px;
  font-weight: 700;
}
.profile .profile_content hr {
  margin: 30px auto;
  margin-top: 0;
  border: none;
  width: 120px;
  height: 4px;
  background: #0242d9;
}
.profile .profile_content .myslider div .client {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile .profile_content .myslider div .client img {
  width: 200px;
  height: 250px;
}
.profile .profile_content .myslider div .client span {
  display: flex;
  font-size: 15px;
}
.profile .profile_content .myslider div .comment {
  width: 74%;
  font-size: 10px;
  line-height: 1.6rem;
  text-align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  padding: 25px 0 20px;
  background: #282828;
  color: #6a6a6a;
}
footer .footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .footer_content img {
  display: flex;
  margin: 30px 0;
}
footer .footer_content .community {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
footer .footer_content span {
  color: #6a6a6a;
}

/* gototop */
.gototop {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: -20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, rgb(102, 194, 230), #c1e4f2);
  font-size: 26px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}

/* mobile */
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
  header nav {
    width: 100%;
  }
  .intro .video {
    display: flex;
    width: 100%;
  }
  .about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .about_content div.desc {
    display: flex;
  }
  .about_content div.desc h2 {
    font-size: 26px;
  }
  .about_content div.desc p {
    font-size: 14px;
  }
  .poster h3 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    margin: 0 auto;
    width: 100%;
  }
  .container {
    margin: 0 auto;
  }
  header nav {
    width: 100%;
    font-size: 10px;
  }
  header nav .logo {
    margin-left: 20px;
  }
  header nav .gnb {
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }
  .intro .video {
    position: relative;
    width: 100%;
  }
  .intro .video iframe {
    position: absolute;
  }
  .about_content {
    width: 100%;
  }
  .about_content div {
    margin-top: 140px;
  }
  .about_content div.desc h2 {
    font-size: 30px;
  }
  .about_content div.desc p {
    font-size: 13px;
  }
  .about_content div.desc a {
    font-size: 1rem;
  }
  .about_content div.photo {
    display: none;
  }
  .poster {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .poster h3 {
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
  }
  .poster .posters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .poster .posters .slick-list {
    height: 500px !important;
  }
  .poster .posters .posteritem {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster .posters .posteritem img {
    width: 100vw;
    height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .profile {
    padding: 60px 20px;
  }
}