@import url("./reset.css");

$color: (
  main-font-color: #0242d9,
);

body {
  overflow-x: hidden;
}

.inner {
  margin: 0 auto;
  width: 1440px;
}

.container {
  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    height: 70px;
    background: map-get($color, main-font-color);
    .logo {
      margin-left: 50px;
      padding-top: 5px;
    }
    .gnb {
      display: flex;
      gap: 20px;
      margin-right: 50px;
      color: #fff;
    }
  }
}

/* Intro */
.intro {
  // height: 100vh;
  width: 100%;
  .video {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    height: 0;
  }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* About */
.about_content {
  display: flex;
  padding: 150px 0;
  div {
    padding: 30px;
    &.desc {
      display: flex;
      gap: 15px;
      justify-content: center;
      flex: 3;
      flex-direction: column;
      text-align: center;
      h2 {
        font-size: 35px;
      }
      p {
        margin: 30px 0 40px;
        font-size: 16px;
        line-height: 1.5rem;
      }
      a {
        font-size: 1.2rem;
        font-weight: bold;
        color: map-get($color, main-font-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.photo {
      flex: 2;
      img {
        width: 100%;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
      }
    }
  }
}

/* youtube */
.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8;
  padding-top: 20px;
  h3 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-right: 50px;
    margin-bottom: 15px;
    width: 200px;
    font-size: 30px;
    font-size: 40px;
    font-weight: 900;
    color: map-get($color, main-font-color);
    text-align: center;
  }
  .posters {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .posteritem {
    padding: 40px;
    display: flex;
    justify-content: center;
    img {
      border-bottom: none;
      width: 60%;
      object-fit: cover;
    }
  }
}

/* profile */
.profile {
  padding: 100px 0;
  .profile_content {
    padding-left: 30px;
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: 700;
    }
    hr {
      margin: 30px auto;
      margin-top: 0;
      border: none;
      width: 120px;
      height: 4px;
      background: map-get($color, main-font-color);
    }
    .myslider {
      div {
        .client {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 200px;
            height: 250px;
          }
          span {
            display: flex;
            font-size: 15px;
            // border: 1px solid red;
          }
        }
        .comment {
          width: 74%;
          font-size: 10px;
          line-height: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}

/* album */
.album {
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 500px;
  background: #f8f8f8;
  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 40px;
    width: 200px;
    font-size: 30px;
    font-weight: 900;
    color: map-get($color, main-font-color);
    text-align: center;
  }
  .album_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .album_image_first,
    .album_image_second,
    .album_image_third,
    .album_image_fourth {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      img {
        margin-bottom: 10px;
        width: 300px;
        height: 300px;
        object-fit: cover;
      }

      span {
        font-size: 18px;
        font-weight: 800;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contents {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    .content_first,
    .content_second {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center the content */
      width: 100%;
      background: #fff;

      .album_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          margin-bottom: 10px;
          width: 420px;
          height: 430px;
        }

        h3 {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          width: 100%;
          font-size: 20px;
        }
      }

      .albumInfo {
        p {
          font-size: 15px;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  padding: 25px 0 20px;
  background: #282828;
  //   height: 10px;
  color: #6a6a6a;
  .footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      display: flex;
      margin: 30px 0;
    }
    .community {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    span {
      color: #6a6a6a;
    }
  }
}

/* gototop */
.gototop {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: -20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, rgb(102, 194, 230), #c1e4f2);
  font-size: 26px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0;
  &.active {
    bottom: 20px;
    opacity: 1;
  }
}

/* mobile */
@media screen and (max-width: 770px) {
  header {
    nav {
      width: 770px;
    }
  }
  .intro {
    .video {
      display: flex;
      //   border: 1px solid red;
      width: 770px;
    }
  }
  .about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 770px;
    div {
      &.desc {
        display: flex;
        margin-left: 30px;
        h2 {
          font-size: 26px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .youtube {
    overflow: hidden;
    .youtube_content {
      .items {
        display: flex;
        gap: 10px;
        // width: calc(100% * 3);
        margin-right: 0;
        margin-left: 5px;
        // border: 1px solid red;
        width: 750px;
        transition: transform 0.8s ease;
        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          min-width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .inner {
    margin: 0 auto;
    width: 100%;
  }
  .container {
    margin: 0 auto;
  }

  header {
    width: 100%;
    nav {
      width: 100%;
      font-size: 10px;
      .logo {
        margin-left: 20px;
      }
      .gnb {
        display: flex;
        gap: 10px;
        margin-right: 10px;
      }
    }
  }

  .intro {
    width: 100%;
    .video {
      position: relative;
      width: 100%;
    }
    .video iframe {
      position: absolute;
    }
  }

  .about_content {
    div {
      margin-top: 140px;
      margin-right: 80px;
      &.desc {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 13px;
        }
        a {
          font-size: 1rem;
        }
      }
    }
  }

  .poster {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    h3 {
      display: flex;
      text-align: center;
      margin-top: 10px;
      margin-left: 50px;
      font-size: 20px;
    }
    .posters {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;
      .slick-list {
        height: 500px !important;
      }
      .posteritem {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100vw;
          height: 500px;
          object-fit: contain;
        }
      }
    }
  }
  .profile {
    padding: 60px 20px;
  }
  .album {
    display: flex;
    align-items: center;
    // margin-left: 30px;
    width: 100%;
    height: 100vh;
    h3 {
      display: flex;
      text-align: center;
      margin-bottom: 20px;
    }
    .album_content {
      justify-content: center;
      width: 100%;
    }
    .album_list {
      .album_image_first,
      .album_image_second,
      .album_image_third,
      .album_image_fourth {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }
  }
}
