/* wrapper */
#wrapper {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./img/Frame\ 1.jpg) center/cover no-repeat;
  border: 3px solid red;
  .image {
    img {
      border: 1px solid #f00;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    span {
      color: #fff;
      font: 16px;
      font-weight: 700;
      border: 1px solid #f00;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .box {
    /* border: 1px solid #f00; */
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 400px; */
    margin-bottom: 400px;
    input {
      width: 420px;
      height: 40px;
      background: #000000be;
    }
    button {
      border: none;
      width: 160px;
      height: 44px;
      display: block;
      margin-left: 20px;
      border-radius: 10px;
      font-size: 16px;
      background: crimson;
      cursor: pointer;
      font-weight: 800;
      transition: all 0.3s;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

/* container */
.container {
  /* border: 1px solid #f00; */
  width: 10px;
  height: 64%;
  padding: 20px;
  background: #3f383875;
  box-shadow: 2px 2px 2px #00000050;
  display: none; /* after: flex */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
&.active {
  display: flex;
}

/* header */
header {
  .tittle {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    width: 115%;
    padding: 12px;
    margin: 30px;
  }
}

/* useremail */
.useremail input[type="text"] {
  font-size: 12px;
  padding: 12px 45px;
  background: #000;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin-bottom: 10px;
  &::placeholder {
    color: #b3b3b3;
  }
}

/* checkbox */
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loginbtn {
    input[type="submit"] {
      width: 230px;
      height: 32px;
      background: crimson;
      margin-bottom: 10px;
      border: crimson;
      border-radius: 4px;
      &:hover {
        background: rgb(146, 13, 40);
        cursor: pointer;
      }
    }
  }
  .QRbtn {
    input[type="submit"] {
      width: 230px;
      height: 34px;
      background: #000;
      color: #ffffffe3;
      display: flex;
      border: #000;
      border-radius: 4px;
      &:hover {
        background: #000000b6;
        cursor: pointer;
      }
    }
  }
  .logincheck {
    /* border: 1px solid #f00; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    input[type="checkbox"] {
      width: 14px;
      height: 15px;
    }
    label {
      color: #fff;
      font-size: 14px;
      margin-left: 6px;
    }
  }
}

/* text */
.text {
  margin-top: 30px;
  cursor: pointer;
  span {
    color: #fff;
    font-size: 16px;
    b {
      color: rgb(93, 174, 255);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    color: #fff;
    font-size: 15px;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 300px;
    height: 520px;
    margin-right: 22px;
  }
}
