/* wrapper */
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./img/Frame\ 1.jpg) center/cover no-repeat;
  /* border: 3px solid red; */
  & > div:first-child {
    /* border: 1px solid #f00; */
    .image {
      img {
        position: absolute;
        top: 0px;
        left: 0px;
        /* border: 1px solid #f00; */
        width: 200px;
        height: 200px;
      }
      p {
        /* border: 1px solid #f00; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 700;
        color: #fff;
      }
    }
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 200px;
      /* margin-top: 400px; */
      /* flex-direction: column; */
      position: relative;
      width: 800px;
      /* border: 1px solid #f00; */
      height: 100px;
      input {
        width: 450px;
        height: 60px;
        background: #000000be;
      }
      button {
        display: block;
        margin-left: 20px;
        border: none;
        width: 160px;
        height: 44px;
        background: crimson;
        font-size: 16px;
        font-weight: 800;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
    &.active {
      display: none;
    }
  }
}

/* container */
.container {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 60px;
  box-shadow: 2px 2px 2px #00000050;
  position: absolute;
  background: #000000;
  /* border: 1px solid #f00; */
  width: 300px;
  &.active {
    display: flex;
  }
}

/* header */
header {
  position: relative;
  width: 100%;
  .fa-x {
    position: absolute;
    top: -30px;
    right: -35px;
    color: #fff;
    cursor: pointer;
  }
  .tittle {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    /* width: 100%; */
    text-align: center;
    /* border: 1px solid #f00; */
  }
}

/* useremail */
.useremail input[type="text"] {
  margin-bottom: 10px;
  padding: 12px 45px;
  border: 1px solid #b3b3b3;
  background: #000;
  font-size: 12px;
  color: #b3b3b3;
  border-radius: 4px;
  &::placeholder {
    color: #b3b3b3;
  }
}

/* checkbox */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loginbtn {
    input[type="submit"] {
      margin-bottom: 10px;
      border: crimson;
      width: 230px;
      height: 32px;
      background: crimson;
      border-radius: 4px;
      &:hover {
        background: rgb(146, 13, 40);
        cursor: pointer;
      }
    }
  }
  .QRbtn {
    input[type="submit"] {
      display: flex;
      border: #000;
      width: 230px;
      height: 34px;
      background: #000;
      color: #ffffffe3;
      border-radius: 4px;
      &:hover {
        background: #000000b6;
        cursor: pointer;
      }
    }
  }
  .logincheck {
    /* border: 1px solid #f00; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    input[type="checkbox"] {
      width: 14px;
      height: 15px;
    }
    label {
      margin-left: 6px;
      font-size: 14px;
      color: #fff;
    }
  }
}

/* text */
.text {
  margin-top: 30px;
  cursor: pointer;
  span {
    font-size: 16px;
    color: #fff;
    b {
      color: rgb(93, 174, 255);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    font-size: 15px;
    color: #fff;
  }
}

@media screen and (max-width: 770px) {
  #wrapper {
    & > div:first-child {
      /* border: 1px solid #f00; */
      margin-right: 50px;
      padding-top: 100px;
      p {
        /* border: solid #f00; */
        /* font-size: 40px; */
        /* width: 450px; */
        /* margin-right: 30px; */
        text-align: center;
      }
      .box {
        gap: 20px;
        flex-direction: column;
        /* border: 1px solid #f00; */
        margin-right: 50px;
        width: 100%;
        input {
          /* border: 1px solid #f00; */
          width: 400px;
        }
      }
    }
  }
  .container {
    margin-right: 22px;
    width: 200px;
    height: 520px;
  }
}
